<ol class="items-list">
  {{#each upgrades as |type|}}
    {{#unless (and (in type.name ../maybe_hide) (eq type.count 0))}}
    <b>{{{type.icon}}} {{type.label}}</b> {{type.count}} / {{type.max}}
    <li class="item flexrow items-header">
      <div class="item-name">Name</div>
      <div class="item-controls">
        <a class="item-control item-create" title="Create item" data-type="{{type.name}}"><i class="fas fa-plus"></i> Add item</a>
      </div>
    </li>
    {{#each type.items as |item id|}}
      <li class="item flexrow" data-item-id="{{item._id}}">
        <div class="item-name">
          <div class="item-image">
            <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
          </div>
          <h4>{{#if item.data.unique}}● {{/if}}{{item.name}}</h4>
        </div>
        <div class="item-controls">
          <a class="item-control item-edit" title="Edit Item"><i class="fas fa-edit"></i></a>
          <a class="item-control item-delete" title="Delete Item"><i class="fas fa-trash"></i></a>
        </div>
        <br/>
        <span>{{{item.data.description}}}</span>
      </li>
    {{/each}}
    {{/unless}}
  {{/each}}
</ol>